## ukol-08: Adopce zvířat

Stáhni si dataset, který obsahuje seznam zvířat k adopci v ZOO Praha. Zdroj dat je Národní katalog otevřených dat.

Data si načti pomocí metody pandas.read_csv(). Pozor, nastav oddělovač na znak středníku. Využij parametr sep.

In [5]:
import pandas
zoo = pandas.read_csv('adopce-zvirat.csv', sep =';')
print(zoo)

       id             nazev_cz                     nazev_en       trida_cz
0       7          Šváb syčivý  Madagascar giant cockroach      Bezobratlí  \
1       8  Pakobylka okřídlená     Pink-winged stick insect     Bezobratlí
2      16                Tayra                        Tayra          Savci
3      35        Kajmanka supí    Alligator snapping turtle          Plazi
4      37      Želva žlutočelá       Indochinese box turtle          Plazi
..    ...                  ...                          ...            ...
508  1417  Rosnice šalamounská                               Obojživelníci
509  1418       Létavka obecná                               Obojživelníci
510  1419          Bažant paví                                       Ptáci
511  1420  Sojkovec rezavouchý                                       Ptáci
512  1421   Kachnice kaštanová                                       Ptáci

     cena  k_prohlidce
0    1000            1
1    1000            1
2    5000            1
3    2000            1
4    1000            1
..    ...          ...
508  1000            1
509  1000            1
510  1000            1
511  1000            1
512  1000            1

[513 rows x 6 columns]

Seznam se s daty. Kolik má tabulka řádek a sloupců?

In [6]:
print(zoo.shape)

(513, 6)

Jak se sloupce jmenují?

In [7]:
print(zoo.columns)

Index(['id', 'nazev_cz', 'nazev_en', 'trida_cz', 'cena', 'k_prohlidce'], dtype='object')

Které zvíře se nachází na záznamu s indexem 34? Vypiš název tohoto zvířete v češtině a v angličtině.

In [18]:
print(zoo.loc[[34],['nazev_cz', 'nazev_en']])

     nazev_cz    nazev_en
34  Ibis bílý  White ibis

# Bonus

Využij metody sort_values() (a libovolných dalších metod), ke zjištění následujících informací:

Adopce kterých zvířat je nejdražší?
Které zvíře je alfabeticky poslední v češtině? Které v angličtině?

In [20]:
zoo.sort_values (by=['cena'], ascending=False)

,id,nazev_cz,nazev_en,trida_cz,cena,k_prohlidce
114,335,Tygr sumaterský,Sumatran tiger,Savci,50000,1
113,334,Tygr ussurijský,Siberian tiger,Savci,50000,1
272,897,Tygr malajský,Malayan tiger,Savci,50000,1
129,385,Hroch obojživelný,Hippopotamus,Savci,50000,1
128,381,Slon indický,Asian elephant,Savci,50000,1
...,...,...,...,...,...,...
278,913,Čichavec perleťový,Pearl gourami,Ryby,1000,0
277,911,Papoušek zpěvavý,Red-rumped parrot,Ptáci,1000,1
276,910,Papoušek vlnkovaný (= andulka vlnkovaná),Budgerigar,Ptáci,1000,0
275,909,Hýl mexický,House finch,Ptáci,1000,1
512,1421,Kachnice kaštanová,,Ptáci,1000,1

In [25]:
posledni_nazev=zoo.sort_values (by=['nazev_cz'], ascending=True)
print(posledni_nazev.tail(1))

       id     nazev_cz                nazev_en trida_cz  cena  k_prohlidce
371  1190  Žluva hajní  Eurasian golden oriole    Ptáci  1000            1

In [28]:
last_name=zoo.sort_values (by=['nazev_en'], ascending=True)
print(last_name.tail(1))

       id             nazev_cz                       nazev_en trida_cz  cena
422  1296        Špaček čínský      White-shouldered starling    Ptáci  1000  \
348  1154   Sojkovec bělohrdlý  White-throated laughingthrush    Ptáci  1000
152   461  Pižmovka bělokřídlá         White-winged wood duck    Ptáci  1000
359  1169          Holub wonga                   Wonga pigeon    Ptáci  1000
445  1331          Svišť lesní                      Woodchuck    Savci  2000
196   628       Mangusta liščí                Yellow mongoose    Savci  5000
230   745        Nesyt africký            Yellow-billed stork    Ptáci  2500
341  1140      Majna žlutolící             Yellow-faced mynah    Ptáci  2000
455  1347    Vlhovec žlutokápý        Yellow-hooded blackbird    Ptáci  1000
161   491  Frankolín žlutokrký        Yellow-necked francolin    Ptáci  1000

     k_prohlidce
422            1
348            1
152            1
359            1
445            1
196            1
230            0
341            1
455            0
161            1